<!DOCTYPE html>
<html>
    <head>
        <title>Resposta</title>
        <meta charset="UTF-8">
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <h1>Resposta</h1>
        <p>Nome: <%= nome %></p>
        <p>Usuário: <%= user %></p>
        <p>Senha: <%= senha %></p>
        <p>Data de nascimento: <%= nasc %></p>
    </body>
</html>