<!DOCTYPE html>
<html>
    <head>
        <title>Resposta</title>
        <meta charset="UTF-8">
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <h1>Resposta</h1>
        <p>Nome: <%= nome %></p>
        <p>Usuário: <%= user %></p>
        <p>Senha: <%= senha %></p>
        <p>Data de nascimento: <%= nasc %></p>


        <h2>Exemplo de for no EJS</h2>
        <form method="GET" action="/for_ejs">
            <p>Insira um valor <input type="number" name="valor"></p>
            <input type="submit" value="Clique aqui p girar divs">
        </form>
    </body>
</html>