* {
    background-color: gainsboro;
}

table, th, td {
    border: 1px solid black;
}

#t1 {
    color: blue;
}

.t2 {
    color: black;
}

h1, h2 {
    font-family:'Montserrat', Courier, monospace;
    font-weight: 300;
}

h1:hover, h2:hover {  /* On-hover */
    color: lightblue;
}

/* Link nao visitado, deixar preto para padronizar */
a:link {
    color: black;
}
  
  /* Link ja visitado, deixar preto para padronizar */
a:visited {
    color: black;
}
  